@font-face {
    font-family: 'Effra Heavy';
    font-style: normal;
    font-weight: 400;
    src: local('Effra Heavy'), url('https://fonts.cdnfonts.com/s/14417/Effra Heavy.woff') format('woff');
}

@font-face {
    font-family: 'Effra Heavy';
    font-style: italic;
    font-weight: 400;
    src: local('Effra Heavy'), url('https://fonts.cdnfonts.com/s/14417/Effra Heavy Italic.woff') format('woff');
}

@font-face {
    font-family: 'Effra Light';
    font-style: normal;
    font-weight: 400;
    src: local('Effra Light'), url('https://fonts.cdnfonts.com/s/14417/Effra Light.woff') format('woff');
}

@font-face {
    font-family: 'Effra Medium';
    font-style: normal;
    font-weight: 400;
    src: local('Effra Medium'), url('https://fonts.cdnfonts.com/s/14417/Effra Medium.woff') format('woff');
}

@font-face {
    font-family: 'Effra';
    font-style: italic;
    font-weight: 400;
    src: local('Effra'), url('https://fonts.cdnfonts.com/s/14417/Effra Italic.woff') format('woff');
}

@font-face {
    font-family: 'Effra Light';
    font-style: italic;
    font-weight: 400;
    src: local('Effra Light'), url('https://fonts.cdnfonts.com/s/14417/Effra Light Italic.woff') format('woff');
}

@font-face {
    font-family: 'Effra Medium';
    font-style: italic;
    font-weight: 400;
    src: local('Effra Medium'), url('https://fonts.cdnfonts.com/s/14417/Effra Medium Italic.woff') format('woff');
}

@font-face {
    font-family: 'Effra';
    font-style: normal;
    font-weight: 700;
    src: local('Effra'), url('https://fonts.cdnfonts.com/s/14417/Effra Bold.woff') format('woff');
}

@font-face {
    font-family: 'Effra';
    font-style: italic;
    font-weight: 700;
    src: local('Effra'), url('https://fonts.cdnfonts.com/s/14417/Effra Bold Italic.woff') format('woff');
}